In [4]:
#导入pandas库 
import pandas as pd
#导入numpy库 
import numpy as np
#data是一个列表
data=[1,3,5,np.nan,6,8]
ps = pd.Series(data)
print(ps)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
#以‘20130101’为基数，不断加1产生新的索引，periods=生成的索引数目
dates = pd.date_range('20130101', periods=6)
#通过数据生成时间，标签，数据值生成一个 DataFrame
#np.random.randn(6,4)随机生成6行4列的数据，datas为刚才生成的索引，columns为列标签
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  1.252577  0.033006 -0.237063 -0.485560
2013-01-02 -0.236267 -0.498663 -0.738083 -2.037569
2013-01-03  0.106369 -0.623447 -0.159289  0.699551
2013-01-04  0.469509  0.439675  0.191693 -0.846666
2013-01-05 -0.922890  0.246051 -0.334018 -0.108086
2013-01-06  1.083196 -1.374427 -1.734970 -0.621165

In [9]:
#查看DataFrame的索引
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#查看所有列标签的名称
df.columns

In [10]:
#查看dataframe的所有值
df.values

array([[-0.95543196, -0.11460867, -0.26783019,  0.6322617 ],
       [-1.31825681, -0.61695121,  0.62274739,  0.87576687],
       [ 0.85976338, -0.24317651, -0.01142501, -0.1521408 ],
       [-0.76038436,  1.40801614, -0.8896766 , -0.31554035],
       [ 0.23163076,  0.09819234, -0.06212481, -0.18154923],
       [-0.70841375,  0.27931264,  1.90614026,  0.61623741]])

In [8]:

#查看datafream各方面的值，（每列属性的）平均值，最大值，最小值，标准差
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.441849  0.135131  0.216305  0.245839
std    0.818798  0.694767  0.959969  0.517595
min   -1.318257 -0.616951 -0.889677 -0.315540
25%   -0.906670 -0.211035 -0.216404 -0.174197
50%   -0.734399 -0.008208 -0.036775  0.232048
75%   -0.003380  0.234033  0.464204  0.628256
max    0.859763  1.408016  1.906140  0.875767

In [11]:
#选择标签A列的数据
df['A']
#选择0到3行（不包括第三行）的数据，这种方法是基于位置的
df[0:3]
#选择索引‘20130102’到索引‘20130104’（包括‘20130104’）之间的数据，基于索引
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.318257 -0.616951  0.622747  0.875767
2013-01-03  0.859763 -0.243177 -0.011425 -0.152141
2013-01-04 -0.760384  1.408016 -0.889677 -0.315540

In [12]:
#选择第0行的数据
df.loc[dates[0]]
#选择A,B两列标签的数据
df.loc[:,['A','B']]
#选择索引'20130102'，'20130104'之间，A,B两列标签的数据
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -1.318257 -0.616951
2013-01-03  0.859763 -0.243177
2013-01-04 -0.760384  1.408016

In [13]:
# 通过位置选取数据
#选取第三行的数据
df.iloc[3]
#选取3~5行，0~2列的数据（不包含第5行，第2列）
df.iloc[3:5,0:2]
#选取1,2,4行，0，2列的数据
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.318257  0.622747
2013-01-03  0.859763 -0.011425
2013-01-05  0.231631 -0.062125

In [14]:
#df是我们在前面创建的一个6行4列的datafream
#选取A列值大于0的数据 
df[df.A > 0]
#选取所有大于0的数据
df[df > 0]
#增添一列标签E数据
df['E'] = ['one', 'one','two','three','four','three']
#选取E列有值在['two','four']中的数据
df['E'].isin(['two','four'])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

In [15]:
#将第0行第A列的数据置为0
df.at[dates[0],'A'] = 0
#将0行1列的数据置为0
df.iat[0,1] = 0

In [17]:
df1=df
#删除所有存在缺失值的行数据
df1.dropna(how='any')
#用某个值去补全所有缺失值（下面这句代码是将所有缺失值全部用5来代替）
df1.fillna(value=5)
#显示出所有数据的状态（是否存在缺失值，若为true则说明该位置存在缺失值）
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False  False
2013-01-04  False  False  False  False  False
2013-01-05  False  False  False  False  False
2013-01-06  False  False  False  False  False

In [18]:
#求各列的平均值
df.mean()
#求各行的平均值
df.mean(1)
s = pd.Series(np.random.randint(0, 7, size=10))
#统计各个值的频数
s.value_counts()

0    4
5    2
4    2
2    1
1    1
dtype: int64

In [19]:
#生成一个dataframe,np.random.randn(10, 4)生成10行4列，值为随机数的df
df = pd.DataFrame(np.random.randn(10, 4))
#将df的前3行，以及第7行之后的行数据合并生成一个新的dataframe
pd.concat([df[:3],df[7:]])
s = df.iloc[3]
#将s添加在df，位置会在最后一行
df.append(s, ignore_index=True)
#生成两个dataframe:left,right
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
#将两个有不同标签的dataframe合并生成新的Dataframe
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5